/* Paramètre FONT */

.caprasimo {
    font-family: 'Caprasimo', serif;
}

.oswald {
    font-family: 'Oswald',serif;
}

.poppins {
    font-family: 'Poppins',sans-serif;
}

/* Fin paramètre Font */

body {
    background-color: rgba(28,40,66,0.9);
}

/* navBar */

.gm-navbar {
    top: 0;
    padding: 1em;
    background-color: rgba(28,40,66,0.54);
    padding-right: 60px;
    font-family: 'oswald',sans-serif;
    box-shadow: 1px 1px 3px rgba(255,255,255,0.54);
    z-index: 99;
    
}

.gm-navbar .nav-link {
    border-bottom: 1px solid transparent;
    transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
}

.nav-link {
    color: white;
}

/* fin navBar */
/* slider*/

.slider-1 {
    max-width: 100%;
    margin: 20px auto;
    overflow: hidden;
}

.slider-1 .slider {
    display: flex;
    animation: slider-1 25s infinite ease-in-out;
}

.slider-1 img {
    opacity: 0.3;
    flex-shrink: 0;
    padding: 72px 0px;
    width: 100%;
    height: 900px;
}

@keyframes slider-1 {
    0%,
    28.33% {
        transform: translateX(0);
    }
    33.33%,
    61.66% {
        transform: translateX(-100%);
    }
    66.66%,
    94.99% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(-300%);
    }

}

.slider-1 .slogan {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 35%;
    bottom: 40%;
    font-size: 24px;
    color: black;
    position: absolute;
    left: 33%;
}

.slider-1 .slogan h1 strong {
    color: white ;
}

.slider-1 .slogan h1 {
    font-size: 2.375em;
}

.slider-1 h2 strong {
    background-color: yellow;
}

/*Background*/

.cover_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -10;
}

